*{
	margin: 0;
}

h2{border-style: hidden;
border-width:100px;}


p{font-size: 12px;
font-family: Helvetica;
}



.firstlyrics
{
	margin-left: 50px;
	color: mediumblue;
	font-family: Arial;
	font-size: 35px;
}

.firstlyrics_first
{
	margin-left: 50px;
	color: mediumblue;
	font-family: Arial;
	font-size: 70px;}
.firstlyrics_2
{
	margin-left: 600px;
}

.firstlyrics_capital
{ font-size: 100px;
	text-decoration: overline;
}

.firstlyrics_final
{
	font-size:110px;
	font-style:italic;
}

.final_uh
{
text-align: right;
	font-size: 110px;
	font-style: italic;

}

.secondlyrics{
	font-family: Arial;
	font-size: 300px;
	font-style: italic;
}

.thirdlyrics{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: purple; 
	font-size: 300px;
	font-style: italic;
	text-decoration: line-through;
	margin-left: 1000px;
	
	
}



.forthlyrics{
	font-family: Arial;
	font-size: 35px;
	color:red;
	margin: 50px;
}

.bar
{
	font-size: 50px;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-weight: 400;
	font-style: italic;
	color: red;
}
.long
{
	font-family:Arial;
	font-weight: 300;
	font-style: italic;
	font-size: 38.5px;
}

.forthlyrics_first
{
	margin-left: 50px;
	color: red;
	font-family: Arial;
	font-size: 70px;
}

.forthlyrics_final
{ font-size: 100px;
	text-decoration: overline;
}
.fifthlyrics{
	margin-left: 50px;
	color:mediumvioletred; 
	font-size: 200px;
	color: deeppink;
}


.disco{
	margin-left: 200px;
	margin-bottom: 100px;
}

.three{
	background-image: url("disco_ball.png"); background-repeat: repeat;
}